@using DoEko.Controllers.Extensions
@using DoEko.Models.DoEko
@using DoEko.Models.Identity
@inject UserManager<ApplicationUser> UserManager

@model IEnumerable<DoEko.Models.DoEko.Investment>

<div class="" id="InvestmentListContainer">
    <form>
        @Html.AntiForgeryToken()
    </form>
    @section modals{
        @{await Html.RenderPartialAsync("_ModalConfirmationPopupPartial",
                                          new DoEko.ViewModels.SharedViewModels.ModalConfirmationViewModel()
                                          {
                                              Id = "InvestmentDeleteModal",
                                              Title = "Usuwanie inwestycji z bazy danych",
                                              Question = "Czy jesteś pewien, że chcesz usunąć tą inwestycję wraz z właścicielami, adresem oraz ankietami?",
                                              BtnYes = "Tak, Usuń",
                                              BtnYesClass = "investment-delete-submit"
                                          });}
    }
    <table class="table table-striped dt-responsive dataTable nowrap no-footer dtr-inline collapsed" id="InvestmentListTable" style="width:100%;"></table>
</div>