@model DoEko.ViewModels.InvestmentViewModels.CreateViewModel

@{
    ViewData["Title"] = "Nowa Inwestycja - Lokalizacja";
}

<h2>Nowa</h2>

<form asp-action="Create" asp-route-ReturnUrl="@ViewBag.ReturnUrl">
    <div class="form-horizontal">
        <h4>Inwestycja | Adres</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        
        @Html.Partial("../Shared/Address/_AddressFormPartial", Model)

        @*<div class="form-group">
            <label asp-for="InspectionStatus" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="InspectionStatus" class="form-control"></select>
                <span asp-validation-for="InspectionStatus" class="text-danger" />
            </div>
        </div>*@
        <input asp-for="ContractId" hidden/>

        <div class="form-group">
            <label asp-for="LandRegisterNo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LandRegisterNo" class="form-control" placeholder="AA1A/12345678/1"/>
                <span asp-validation-for="LandRegisterNo" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PlotNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PlotNumber" class="form-control" placeholder="112233_4.5678.123/1"/>
                <span asp-validation-for="PlotNumber" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="RseHeatPump" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default">
                        <input asp-for="RseHeatPump" type="radio" autocomplete="off" value="true" />
                        Tak
                    </label>
                    <label class="btn btn-default active">
                        <input asp-for="RseHeatPump" type="radio" autocomplete="off" checked value="false" />
                        Nie
                    </label>
                </div>
                <span asp-validation-for="RseHeatPump" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RseSolar" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default">
                        <input asp-for="RseSolar" type="radio" autocomplete="off" value="true" />
                        Tak
                    </label>
                    <label class="btn btn-default active">
                        <input asp-for="RseSolar" type="radio" autocomplete="off" checked value="false" />
                        Nie
                    </label>
                </div>
                <span asp-validation-for="RseSolar" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RseFotovoltaic" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default">
                        <input asp-for="RseFotovoltaic" type="radio" autocomplete="off" value="true" />
                        Tak
                    </label>
                    <label class="btn btn-default active">
                        <input asp-for="RseFotovoltaic" type="radio" autocomplete="off" checked value="false" />
                        Nie
                    </label>
                </div>
                <span asp-validation-for="RseFotovoltaic" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Dalej" class="btn btn-primary" />

                @if (!String.IsNullOrEmpty(ViewBag.ReturnUrl))
            {
                    <a href="@ViewBag.ReturnUrl" class="btn btn-default" asp->Anuluj</a>
                }
                else
                {
                    <a asp-action="Index" class="btn btn-default" asp->Anuluj</a>
                }
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("../Shared/Address/_AddressScriptPartial");}
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
