@using DoEko.Controllers.Extensions
@using DoEko.Models.DoEko
@using DoEko.Models.Identity

@model DoEko.ViewModels.InvestmentViewModels.InvestmentListViewModel
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Inspekcje nieprzypisane";
}
<!-- Navigation -->
<ol class="breadcrumb">
    <li><a asp-action="Index" asp-controller="Home"><span class="glyphicon glyphicon-home"></span></a></li>
    <li class="active">Lista inspekcji</li>
</ol>

<h2>Inspekcje nieprzypisane</h2>
<hr />
@if (Model.List.Count != 0)
{
    <div class="panel panel-default">
        <div class="panel-heading data-table-filter">
            @await Html.PartialAsync("_ListHeaderFormPartial", Model.Filtering)
        </div>
        <div class="panel-body table-responsive data-table-container">
            @await Component.InvokeAsync("InvestmentList", new { model = Model })
        </div>
        @*<div class="panel-footer data-table-paging">
                @await Html.PartialAsync("_ListFooterFormPartial", Model.Paging)
            </div>*@
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        @{await Html.RenderPartialAsync("_InvestmentUnassignedListScriptsPartial");}
        @{await Html.RenderPartialAsync("_InvestmentListScriptsPartial");}
    }
}
else
{
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-info">Aktualnie nie ma aktywnych, nieprzypisanych inspekcji.</h4>
        </div>
    </div>
}