@using Microsoft.AspNetCore.Identity
@using DoEko.Models.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    if (User.IsInRole(Roles.Admin))
    {
        <ul class="nav navbar-nav">
            <li><a asp-area="" asp-controller="Projects" asp-action="Index">Projekty</a></li>
            <li><a asp-area="" asp-controller="Contracts" asp-action="Index">Umowy</a></li>            
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="">
                    Raporty
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a asp-controller="Reports" asp-action="ProgressSummary">Statystyki dla źródeł</a></li>
                    <li><a asp-controller="Reports" asp-action="SurveyExtract">Eksport danych z ankiet</a></li>
                    <li><a asp-controller="Reports" asp-action="InspectionSummary">Podsumowanie inspekcji</a></li>
                    <li><a asp-controller="Reports" asp-action="InspectorWork">Wykonanie w okresach</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="">
                    Ustawienia
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    @*<li><a asp-controller="Companies" asp-action="Index">Spółki</a></li>*@
                    <li><a asp-controller="Settings" asp-action="Index">Stałe do raportów</a></li>
                    <li><a asp-controller="ReportTemplates"  asp-action="List">Szablony</a></li>
                    <li><a asp-controller="Users"      asp-action="List">Użytkownicy</a></li>
                </ul>
            </li>
</ul>
    }
    else if (User.IsInRole("contractManager"))
    {
        <ul class="nav navbar-nav">
            <li><a asp-area="" asp-controller="Projects" asp-action="Index">Projekty</a></li>
            <li><a asp-area="" asp-controller="Contracts" asp-action="Index">Umowy</a></li>
            <li><a asp-area="" asp-controller="Surveys" asp-action="Index">Inspekcje</a></li>
            <li><a asp-area="" asp-controller="Reports" asp-action="Index">Raporty</a></li>
            <li><a asp-area="" asp-controller="PriceList" asp-action="Index">Cenniki</a></li>
        </ul>
    }
    else if (User.IsInRole(Roles.Inspector))
    {
        <ul class="nav navbar-nav">
            <li><a asp-area="" asp-controller="Investments" asp-action="List">Moje inspekcje</a></li>
            <li><a asp-area="" asp-controller="Investments" asp-action="ListUnassigned">Inspekcje</a></li>
        </ul>
    }

}