@{
    DoEko.ViewModels.TestViewModels.ListPhotosViewModel item = ViewBag.Item;
    //    SortedList<string, DoEko.ViewModels.TestViewModels.SurveyAttachment> att = ViewBag.Item;
    string key = (string)ViewData["Id"];
    string label = "";
    switch (key)
    {
        case "Picture0": label = "Ortofotomapa"; break;
        case "Picture1": label = "Zdjęcie działki (miejsce proponowane pod odwierty pionowe)"; break;
        case "Picture2": label = "Zdjęcie kotłowni"; break;
        case "Picture3": label = "Zdjęcie wjazdu na działkę"; break;
        case "Picture4": label = "Zdjęcie ściany na montaż parownika(tylko dla pompy powietrze / woda)"; break;
        case "Picture5": label = "Zdjęcie budynku"; break;
        case "Picture6": label = "zdjęcie budynku wraz z dachem od strony południowej"; break;
        case "Picture7": label = "połać 1"; break;
        case "Picture8": label = "połać 2"; break;
        case "Picture9": label = "połać 3";  break;
        default: label = key; break;
    }
} 

<div class="row">
    <div class="col-sm-2" title="@label">@key</div>
    <div class="col-sm-10">
        @if (item.Attachments.Keys.Any(k => k == key))
        {
            <a href="@item.Attachments[key].Url" target="_blank" style="cursor:pointer">
                @item.Attachments[key].FileName
            </a>
        }
        else
        { <span class="bg-danger">brak</span> }
    </div>
</div>
