@model DoEko.Models.DoEko.Test;

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>test</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
       
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="checkme" />
                    <label asp-for="checkme"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="dfg" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="dfg" class="form-control" />
                <span asp-validation-for="dfg" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
