@{
    ViewData["Title"] = "Ustawienia Cen";
}
<!--Navigation-->
<ol class="breadcrumb">
    <li><a href='@ViewData["ReturnUrl"]'><span class="glyphicon glyphicon-backward"></span> Projekt </a></li>
    <li class="active">Ustawienia Cen</li>
</ol>
<!--Title-->
<h2>@ViewData["Title"]</h2>
<hr />
<div class="" id="TabsContainer">
    <!-- Tab Navigation -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#TabTax" role="tab" data-toggle="tab" class="active" aria-expanded="true">VAT</a></li>
        <li><a href="#TabNet" role="tab" data-toggle="tab">Ceny Netto</a></li>
    </ul>

    <!-- Tabs -->
    <div class="tab-content">
        <div class="tab-pane active" id="TabTax">
            <table class="table table-striped dt-responsive dataTable nowrap no-footer dtr-inline collapsed"
                   id="TaxTable"
                   style="width:100%;"
                   data-projectid="@ViewData["ProjectId"]"></table>
        </div>
        <div class="tab-pane" id="TabNet">
            <table class="table table-striped dt-responsive dataTable nowrap no-footer dtr-inline collapsed"
                   id="NetTable"
                   style="width:100%;"
                   data-projectid="@ViewData["ProjectId"]"></table>
        </div>
    </div>
</div>
    @section stylesheets{
        @{await Html.RenderPartialAsync("_DataTablesCSSPartial");}
    }
    @section scripts{
        @{await Html.RenderPartialAsync("_DataTablesScriptsPartial");}
        <environment names="Development">
            <script type="text/javascript" src="~/js/RSEPriceSettings.js" asp-append-version="true"></script>
        </environment>
        <environment names="Staging,Production">
            <script type="text/javascript" src="~/js/RSEPriceSettings.min.js" asp-append-version="true"></script>
        </environment>
    }
