@{
    ViewData["Title"] = "Ustawienia Cen";
}

<!--Modals-->
@section modals{ 
<div class="modal fade" data-section="" id="ResetModal" tabindex="-1" role="dialog" aria-labelledby="ResetModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close resetmodal-btn-cancel" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="ResetModalTitle">Przywrócenie wartości domyślnych</h4>
            </div>
            <div class="modal-body">
                <p>
                    Ustawienia specyficzne dla bieżącego projektu zostaną usunięte.
                    Czy jesteś pewien, że chcesz przywrócić ustawienia domyślne?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info resetmodal-btn-cancel" data-dismiss="modal">Nie</button>
                <button type="button" class="btn btn-danger resetmodal-btn-submit">Tak</button>
            </div>
        </div>
    </div>
</div>
}
<!--Navigation-->
<ol class="breadcrumb">
    <li><a href='@ViewData["ReturnUrl"]'><span class="glyphicon glyphicon-backward"></span> Projekt </a></li>
    <li class="active">Ustawienia Cen</li>
</ol>
<!--Title-->
<h2>@ViewData["Title"]</h2>
<hr />
<div class="" id="TabsContainer">
    <!-- Tab Navigation -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#TabTax" role="tab" data-toggle="tab" class="active" aria-expanded="true">VAT</a></li>
        <li><a href="#TabNet" role="tab" data-toggle="tab">Ceny Netto</a></li>
    </ul>

    <!-- Tabs -->
    <div class="tab-content">
        <div class="tab-pane active" id="TabTax">
            <table class="table table-striped dt-responsive dataTable nowrap no-footer dtr-inline collapsed small"
                   id="TaxTable"
                   style="width:100%;"
                   data-projectid="@ViewData["ProjectId"]"></table>
        </div>
        <div class="tab-pane" id="TabNet">
            <table class="table table-striped dt-responsive dataTable nowrap no-footer dtr-inline collapsed small"
                   id="NetTable"
                   style="width:100%;"
                   data-projectid="@ViewData["ProjectId"]"></table>
        </div>
    </div>
</div>
    @section stylesheets{
        @{await Html.RenderPartialAsync("_DataTablesCSSPartial");}
    }
    @section scripts{
        @{await Html.RenderPartialAsync("_DataTablesScriptsPartial");}
        <environment names="Development">
            <script type="text/javascript" src="~/js/RSEPriceSettings.js" asp-append-version="true"></script>
        </environment>
        <environment names="Staging,Production">
            <script type="text/javascript" src="~/js/RSEPriceSettings.min.js" asp-append-version="true"></script>
        </environment>
    }
