@{
    ViewData["Title"] = "Potwierdzenie przywrócenia hasła";
}

<h1>@ViewData["Title"]</h1>
<p>
    Twoje hasło zostało zresetowane. Proszę użyj tego <a asp-controller="Account" asp-action="Login">linku</a> aby zalogować się do aplikacji.
</p>
