<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html;" charset="utf-8">
    <title>Zmiana hasła do aplikacji</title>
</head>
<body bgcolor="#FFFFFF" style="background-color:#FFF;">
<table align="center" width="596" cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF">
<tr>
<td>
<img src="cid:image.1477396116627.229@13870832239de9294683d35f0b0" width="596" height="45" border="0" alt="" style="display:block;">
</td>
</tr>
<tr>
<td>
<table align="center" width="596" cellpadding="0" cellspa=cing ="0" border="0" bgcolor="#FFFFFF">
<tr>
<td width="36">
<img src="cid:image.1477396116627.229@13870832239de9294683d35f0b0" width="36" height="8" border="0" alt="" style="display:block;">
</td>
<td width="449" valign="top">
<table align="center" width="449" cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF">
<tr>
<td>
<img src="cid:image.1477396116627.229@13870832239de9294683d35f0b0" width="449" height="5" border="0" alt="" style="display:block;">
</td>
</tr>
<tr>
<td style="font-family:Tahoma,Geneva,Kalimati,sans-serif; font-size:11px; color:#999999;">
2016-10-25
</td>
</tr>
<tr>
<td>
<img src="cid:image.1477396116627.229@13870832239de9294683d35f0b0" width="449" height="4" border="0" alt="" style="display:block;">
</td>
</tr>
<tr>                              
<td style="font-family:Tahoma,Geneva,Kalimati,sans-serif; font-size:24px; color:#232323;">
USUNIĘCIE PRZYCISKU KIERUJĄCEGO <br/>DO STARSZEJ WERSJI <br/>SERWISU INTERNETOWEGO iPKO
</td>                                   
</td>                   
</tr>               
</table>
</td>    
<td width="72">
<img src="cid:image.1477396116629.244@13870832239de9294683d35f0b0" width="72" height="87" border="0" alt="" style="display:block;">           
</td>
<td width="39">
<img src="cid:image.1477396116627.229@13870832239de9294683d35f0b0" width="39" height="10" border="0" alt="" style="display:block;">           
</td>  
</tr>   
</table>
</td>
</tr>
<tr>   
<td>
<table align="center" width="596" cellpadding="0" cellspa=cing ="0" border="0" bgcolor="#FFFFFF">
<tr>
<td width="36">
<img src="cid:image.1477396116627.229@13870832239de9 =294683d35f0b0" width="36" height="10" border="0" alt="" style="display:block;">                    
</td>
<br>
<br>               
<td width="39">
<img src="cid:image.1477396116627.229@13870832239de9294683d35f0b0" width="39" height="10" border="0" alt="" style="display:block;">                    
</td>
</tr>           
</table>       
</td>
</tr>
<tr>   
<td>
<table align="center" width="596" cellpadding="0" cellspa=cing ="0" border="0" bgcolor="#FFFFFF">
<tr>
<td width="36">
<img src="cid:image.1477396116627.229@13870832239de9294683d35f0b0" width="36" height="10" border="0" alt="" style="display:block;">                    
</td>
<td width="521" style="font-family:Tahoma,Geneva,Kalimati,sans-serif; font-size:11px; color:#666666;">
W=C5=82a=C5=9Bnie mijaj=C4=85 2 lata odk=C4=85d udost=C4=99pnili=C5=9Bmy no=
wy serwis internetowy iPKO. W tym czasie, na skorzystanie z&nbsp;niego zdec=
ydowa=C5=82a si=C4=99 wi=C4=99kszo=C5=9B=C4=87 naszych Klient=C3=B3w.=20
<p>
Nowy serwis to szereg korzy=C5=9Bci - mi=C4=99dzy innymi szybki dost=C4=
=99p do najcz=C4=99=C5=9Bciej wykorzystywanych funkcji, prosta nawigacja i =
od=C5=9Bwie=C5=BCona szata graficzna.
</p>
Dotychczas, za pomoc=C4=85 przycisku =E2=80=9EiPKO przed zmian=C4=85=E2=80=
=9D, zamieszczonego na stronie logowania do serwisu internetowego iPKO, mo=
=C5=BCliwe by=C5=82o prze=C5=82=C4=85czenie si=C4=99 na widok serwisu inter=
netowego sprzed zmian wprowadzonych w 2014 roku. <b>
Od dnia 28.10.2016 r.</=
b> przej=C5=9Bcie do poprzedniej wersji iPKO nie&nbsp;b=C4=99dzie mo=C5=BCl=
iwe.
<br>Pomimo usuni=C4=99cia przycisku kieruj=C4=85cego do starszej wersji iPK=
O, serwis ten pozostaje wci=C4=85=C5=BC dost=C4=99pny pod dotychczasowym ad=
resem.=20
<br><br>Sprawd=C5=BA, jak porusza=C4=87 si=C4=99 po nowym serwisie iPKO i j=
ak wykona=C4=87 najpopularniejsze operacje:
<p>
<a href="http://demo.ipko.pl/login.html">
Wersja demonstracyjna serwisu=
iPKO
</a>
<br><a href="https://www.pkobp.pl/bankowosc-elektroniczna/ipko/nowe-ipko- =nowe-mozliwosci/pomoc-i-wersje-demonstracyjne/filmy-instruktazowe/">
Filmy i=
nstrukta&#380;owe
</a>
</p>
W najbli=C5=BCszym czasie planowane jest ca=C5=82kowite wy=C5=82=C4=85czeni=
e serwisu internetowego iPKO sprzed zmian wprowadzonych w 2014 roku. O szcz=
eg=C3=B3=C5=82ach poinformujemy w osobnym komunikacie.                            
</td>
<td width="39">
<img src="cid:image.1477396116627.229@13870832239de9 =294683d35f0b0" width="39" height="10" border="0" alt="" style="display:block;">
</td>
</tr>
</table>
</td>
        
</tr>
    
<td>
<table align="center" width="596" cellpadding="0" cellspa=cing ="0" border="0" bgcolor="#FFFFFF">
            
<tr>
                
<td width="36">
<img src="cid:image.1477396116627.229@13870832239de9 =294683d35f0b0" width="36" height="10" border="0" alt="" style="display:block;">
                    
</td>
                
                
                
</tr>
            
</table>
        
</td>
</tr>
<tr>
        
<td>
<table align="center" width="596" cellpadding="0" cellspa=cing ="0" border="0" bgcolor="#FFFFFF">
                
<tr>
                    
<td width="36">
<img src="cid:image.1477396116627.229@13870832239de9 =294683d35f0b0" width="36" height="10" border="0" alt="" style="display:block;">
                        
</td>
                    
<td width="521" style="font-family:Tahoma,Geneva,Kali =mati,sans-serif; font-size:11px; color:#666666;">
                        
                        
</td>
                    
<td width="39">
<img src="cid:image.1477396116627.229@13870832239de9 =294683d35f0b0" width="39" height="10" border="0" alt="" style="display:block;">
                        
</td>
                    
</tr>
                
</table>
            
</td>
        
</tr>
<tr>
        
<td>
<img src="cid:image.1477396116627.229@13870832239de9294683d3 =5f0b0" width="596" height="24" border="0" alt="" style="display:block;">
</td>
        
</tr>
<tr>
        
<td>
<table align="center" width="596" cellpadding="0" cellspa=cing ="0" border="0" bgcolor="#FFFFFF">
                
<tr>
                    
<td width="36">
<img src="cid:image.1477396116627.229@13870832239de9 =294683d35f0b0" width="36" height="10" border="0" alt="" style="di =splay:block;">
                        
</td>
                    
                    
<td width="39">
<img src="cid:image.1477396116627.229@13870832239de9 =294683d35f0b0" width="39" height="10" border="0" alt="" style="di =splay:block;">
                        
</td>
                    
</tr>
                
</table>
            
</td>
        
</tr>
<tr>
        
        
<tr>
        
<td>
<table align="center" width="596" cellpadding="0" cellspa=cing ="0" border="0" bgcolor="#FFFFFF">
                
<tr>
                    
<td width="36">
<img src="cid:image.1477396116627.229@13870832239de9 =294683d35f0b0" width="36" height="10" border="0" alt="" style="di =splay:block;">
                        
</td>
                    
                    
<td width="39">
<img src="cid:image.1477396116627.229@13870832239de9 =294683d35f0b0" width="39" height="10" border="0" alt="" style="di =splay:block;">
                        
</td>
                    
</tr>
                
</table>
            
</td>
        
</tr>
<tr>
        
<td>
<img src="cid:image.1477396116627.229@13870832239de9294683d3 =5f0b0" width="596" height="16" border="0" alt="" style="display:b =lock;">
</td>
        
</tr>
<tr>
        
<td>
<table align="center" width="596" cellpadding="0" cellspa=cing ="0" border="0" bgcolor="#FFFFFF">
                
<tr>
                    
<td width="36">
<img src="cid:image.1477396116627.229@13870832239de9 =294683d35f0b0" width="36" height="10" border="0" alt="" style="di =splay:block;">
                        
</td>
                    
<td width="521">
<img src=3Dcid:image.1477396116636.249@13870832239de92 =94683d35f0b0 width="521" height="1" border="0" alt="" style="disp =lay:block;">
                        
</td>
                    
<td width="39">
<img src="cid:image.1477396116627.229@13870832239de9 =294683d35f0b0" width="39" height="10" border="0" alt="" style="di =splay:block;">
                        
</td>
                    
</tr>
                
</table>
            
</td>
        
</tr>
<tr>
        
<td>
<img src="cid:image.1477396116627.229@13870832239de9294683d3 =5f0b0" width="596" height="16" border="0" alt="" style="display:b =lock;">
</td>
        
</tr>
<tr>
        
<td>
<table align="center" width="596" cellpadding="0" cellspa=cing ="0" border="0" bgcolor="#FFFFFF">
                
<tr>
                    
<td width="36">
<img src="cid:image.1477396116627.229@13870832239de9 =294683d35f0b0" width="36" height="10" border="0" alt="" style="di =splay:block;">
                        
</td>
                    
<td style="font-family:Tahoma,Geneva,Kalimati,sans-seri =f; font-size:11px; color:#999999;" width="235">
&copy; 2016 PKO Bank Polski
                        
</td>
                    
<td width="286" align="right">
<img src="cid:image.1477396116637.1344@13870832239de =9294683d35f0b0" alt="infolinia:800302302" width="145" height="13" bor=der ="0" />
                        
</td>
                    
<td width="39">
<img src="cid:image.1477396116627.229@13870832239de9 =294683d35f0b0" width="39" height="10" border="0" alt="" style="di =splay:block;">
                        
</td>
                    
</tr>
                
</table>
            
</td>
        
</tr>
<tr>
        
<td>
<table align="center" width="596" cellpadding="0" cellspa=cing ="0" border="0" bgcolor="#FFFFFF">
                
<tr>
                    
<td width="36">
<img src="cid:image.1477396116627.229@13870832239de9 =294683d35f0b0" width="36" height="10" border="0" alt="" style="di =splay:block;">
                        
</td>
                    
<td style="font-family:Tahoma,Geneva,Kalimati,sans-seri =f; font-size:11px; color:#999999;" width="521" align="right">
=09brak op=C5=82at dla numer=C3=B3w krajowych na terenie =
kraju;<br> w pozosta=C5=82ych przypadkach =E2=80=93 op=C5=82ata zgodna z ta=
ryf=C4=85 operatora

                        
</td>

<tr>
                    
<td width="36">
<img src="cid:image.1477396116627.229@13870832239de9 =294683d35f0b0" width="36" height="10" border="0" alt="" style="di =splay:block;">
                        
</td>
                    
                    
<td align="right">
<img src="cid:image.1477396116639.1347@13870832239de929 =4683d35f0b0" alt="infolinia:48815356565" width="141" height="13" bord=er ="0" />
</td>
                    
<td width="39">
<img src="cid:image.1477396116627.229@13870832239de9 =294683d35f0b0" width="39" height="10" border="0" alt="" style="di =splay:block;">
                        
</td>
                    
</tr>

                
</table>

            
</td>
        
</tr>
<tr>
        
<td>
<table align="center" width="596" cellpadding="0" cellspa=cing ="0" border="0" bgcolor="#FFFFFF">
                
<tr>
                    
<td width="36">
<img src="cid:image.1477396116627.229@13870832239de9 =294683d35f0b0" width="36" height="10" border="0" alt="" style="di =splay:block;">
                        
</td>
                    
<td style="font-family:Tahoma,Geneva,Kalimati,sans-seri =f; font-size:11px; color:#999999;" width="521" align="right">
=09op=C5=82ata zgodna z taryf=C4=85 operatora

                        
</td>
                    
</td>
        
<td width="39">
<img src="cid:image.1477396116627.229@13870832239de9 =294683d35f0b0" width="39" height="10" border="0" alt="" style="di =splay:block;">
            
</td>
        
</tr>

<td width="39">
<img src="cid:image.1477396116627.229@13870832239de9 =294683d35f0b0" width="39" height="10" border="0" alt="" style="di =splay:block;">
        
</td>
</tr>
</table>
</td>
</tr>
<tr>
        
<td>
<img src="cid:image.1477396116627.229@13870832239de9294683d3 =5f0b0" width="596" height="30" border="0" alt="" style="display:b =lock;">
</td>
        
</tr>
<tr>
        
<td>
            
            
</td>
        
</tr>
<tr>
        
<td>
<img src="cid:image.1477396116627.229@13870832239de9294683d3 =5f0b0" width="596" height="11" border="0" alt="" style="display:b =lock;">
</td>
        
</tr>
<tr>
        
<td>
<table align="center" width="596" cellpadding="0" cellspa=cing ="0" border="0" bgcolor="#FFFFFF">
                
<tr>
                    
<td width="36">
<img src="cid:image.1477396116627.229@13870832239de9 =294683d35f0b0" width="36" height="10" border="0" alt="" style="di =splay:block;">
                        
</td>
                    
<td style="font-family:Tahoma,Geneva,Kalimati,sans-seri =f; font-size:11px; color:#999999;" width="521">
List zosta=C5=82 wys=C5=82=
any zgodnie z wyra=C5=BCon=C4=85 wcze=C5=9Bniej zgod=C4=85 na otrzymywanie =
od PKO Banku Polskiego korespondencji handlowej drog=C4=85 elektroniczn=C4=
=85.<br><br>Powszechna Kasa Oszcz=C4=99dno=C5=9Bci Bank Polski Sp=C3=B3=C5=
=82ka Akcyjna z siedzib=C4=85 w Warszawie przy ul.&nbsp;Pu=C5=82awskiej&nbs=
p;15, 02-515 Warszawa, zarejestrowana w S=C4=85dzie Rejonowym dla m.st. War=
szawy w&nbsp;Warszawie, XIII Wydzia=C5=82 Gospodarczy Krajowego Rejestru S=
=C4=85dowego pod nr KRS&nbsp;0000026438; NIP:&nbsp;525-000-77-38; REGON:&nb=
sp;016298263; kapita=C5=82 zak=C5=82adowy (kapita=C5=82 wp=C5=82acony) 1 25=
0 000 000 z=C5=82
                        
</td>
                    
<td width="39">
<img src="cid:image.1477396116627.229@13870832239de9 =294683d35f0b0" width="39" height="10" border="0" alt="" style="di =splay:block;">
                        
</td>
                    
</tr>
                
</table>
            
</td>
        
</tr>
</table>
    
</body>
</html>