@model DoEko.Models.DoEko.Company

@{
    ViewData["Title"] = "Nowa jednostka gospodarcza";
}

<h2>Nowa</h2>

<form asp-action="Create" asp-controller="Companies" >
    <div class="form-horizontal">
        <h4>Jednostka gospodarcza</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Name2" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name2" class="form-control" />
                <span asp-validation-for="Name2" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RegonId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="RegonId" class="form-control" />
                <span asp-validation-for="RegonId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TaxId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TaxId" class="form-control" placeholder="000-000-00-00" />
                <span asp-validation-for="TaxId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="KRSId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="KRSId" class="form-control" />
                <span asp-validation-for="KRSId" class="text-danger" />
            </div>
        </div>
        @Html.Partial("_AddressForm", Model)
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Utwórz" class="btn btn-default" />
                <a asp-action="Index" asp-controller="Home" class="btn btn-primary" >Anuluj</a>    
            </div>
        </div>
    </div>
</form>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_AddressScriptPartial");}
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

