@model DoEko.Models.DoEko.Project
@{
    ViewData["Title"] = "Edycja Danych Projektu";
}

<!-- Navigation -->
<ol class="breadcrumb">
    <li><a asp-action="Index" asp-controller="Home">Str. Domowa</a></li>
    <li><a asp-action="Index" asp-controller="Projects">Lista Projektów</a></li>
    <li class="active">Projekt @Html.DisplayFor(model => model.ShortDescription)</li>
</ol>

<!--Title-->
<h2><small>Projekt: </small>@Html.DisplayFor(model => model.ShortDescription)</h2>

<!--Panels-->
<div class="panel-group" id="collapse" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading wg-panel-heading clearfix" role="tab" id="heading-project">
                <h4 class="panel-title wg-panel-title pull-left">
                    Informacje szczegółowe
                </h4>
                <div class="btn-group pull-right">
                    @*<span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>*@
                    @*<input type="submit" hidden />*@
                    @*<span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span>
                    <a asp-action="Index" class="glyphicon glyphicon glyphicon-remove">Anuluj</a>*@
                </div>
            </div>
            <div id="project" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-project">
                <div class="panel-body">
    <form asp-action="Edit" method="post" asp-route-returnurl="@ViewData["ReturnUrl"]">
                    @await Html.PartialAsync("_ProjectEditPartial")
    </form>
                </div>
            </div>
        </div>
    <div class="panel panel-default">
        <div class="panel-heading wg-panel-heading" role="tab" id="heading-subprojects">
            <h4 class="panel-title wg-panel-title">
                    Podprojekty
            </h4>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading wg-panel-heading" role="tab" id="heading-contracts">
            <h4 class="panel-title wg-panel-title">
                Umowy
            </h4>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}