@model DoEko.Models.DoEko.Project

@{
    ViewData["Title"] = "Edycja Danych Projektu";
}

<!-- Navigation -->
<ol class="breadcrumb">
    <li><a asp-action="Index" asp-controller="Home">Str. Domowa</a></li>
    <li><a asp-action="Index" asp-controller="Projects">Lista Projektów</a></li>
    <li class="active">Projekt @Html.DisplayFor(model => model.ShortDescription)</li>
</ol>

<!--Title-->
<h2><small>Projekt: </small>@Html.DisplayFor(model => model.ShortDescription)</h2>

<!--Panels-->
<div class="panel-group" id="collapse" role="tablist" aria-multiselectable="true">
    <form asp-action="Edit" method="post" asp-route-returnurl="@ViewData["ReturnUrl"]">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-project">
                <div class="btn-group pull-right">
                    @*<span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>*@
                    @*<input type="submit" hidden />*@
                    @*<span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span>
                    <a asp-action="Index" class="glyphicon glyphicon glyphicon-remove">Anuluj</a>*@
                </div>
                <h4 class="panel-title">
                    <a class="wg-link-nounderline" role="button" data-toggle="collapse" data-parent="#collapse" href="#" aria-expanded="true" aria-controls="project">
                        Informacje szczegółowe
                    </a>
                </h4>
            </div>
            <div id="project" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-project">
                <div class="panel-body">
                    @await Html.PartialAsync("ProjectEditPartial")
                </div>
            </div>
        </div>
    </form>
    <div class="panel panel-info">
        <div class="panel-heading" role="tab" id="heading-subprojects">
            <h4 class="panel-title">
                <a class="collapsed wg-link-nounderline" role="button" data-toggle="collapse" data-parent="#collapse" href="#" aria-expanded="false" aria-controls="subprojects">
                    Podprojekty
                </a>
            </h4>
        </div>
        <div id="subprojects" class="panel-collapse collapse" role="tabpanel" aria-labelledby="header-subprojects">
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading-contracts">
            <h4 class="panel-title">
                <a class="collapsed wg-link-nounderline" role="button" data-toggle="collapse" data-parent="#collapse" href="#" aria-expanded="false" aria-controls="contracts">
                    Umowy
                </a>
            </h4>
        </div>
        <div id="contracts" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-contracts">
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}