@model DoEko.ViewModels.InvestmentOwnerViewModels.CreateViewModel

<div class="form-group">
    <label asp-for="OwnerPerson.FirstName" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="OwnerPerson.FirstName" class="form-control" />
        <span asp-validation-for="OwnerPerson.FirstName" class="text-danger" />
    </div>
</div>
<div class="form-group">
    <label asp-for="OwnerPerson.LastName" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="OwnerPerson.LastName" class="form-control" />
        <span asp-validation-for="OwnerPerson.LastName" class="text-danger" />
    </div>
</div>
<div class="form-group">
    <label asp-for="OwnerPerson.Pesel" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="OwnerPerson.Pesel" class="form-control" />
        <span asp-validation-for="OwnerPerson.Pesel" class="text-danger" />
    </div>
</div>
<div class="form-group">
    <label asp-for="OwnerPerson.TaxId" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="OwnerPerson.TaxId" class="form-control" />
        <span asp-validation-for="OwnerPerson.TaxId" class="text-danger" />
    </div>
</div>
<div class="form-group">
    <label asp-for="OwnerPerson.IdNumber" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="OwnerPerson.IdNumber" class="form-control" />
        <span asp-validation-for="OwnerPerson.IdNumber" class="text-danger" />
    </div>
</div>
<div class="form-group">
    <label asp-for="OwnerPerson.Email" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="OwnerPerson.Email" class="form-control" />
        <span asp-validation-for="OwnerPerson.Email" class="text-danger" />
    </div>
</div>
<div class="form-group">
    <label asp-for="OwnerPerson.PhoneNumber" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="OwnerPerson.PhoneNumber" class="form-control" />
        <span asp-validation-for="OwnerPerson.PhoneNumber" class="text-danger" />
    </div>
</div>



