@model IEnumerable<DoEko.Models.DoEko.ControlParameter>

@{
    ViewData["Title"] = "Stałe do raportów";
}
<!-- Navigation -->
<ol class="breadcrumb">
    <li><a asp-action="Index" asp-controller="Home"><span class="glyphicon glyphicon-home"></span></a></li>
    <li class="active">@ViewData["Title"]</li>
</ol>

<h2>@ViewData["Title"]</h2>
<div class="container-fluid">
    <table class="table table-striped dt-responsive dataTable nowrap no-footer dtr-inline collapsed"
           id="ConstantsListTable"
           style="width:100%;"></table>
</div>



@section stylesheets{
    @{await Html.RenderPartialAsync("_DataTablesCSSPartial");}
}
@section scripts{
    @{await Html.RenderPartialAsync("_DataTablesScriptsPartial");}
    <environment names="Development">
        <script type="text/javascript" src="~/js/SettingsList.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script type="text/javascript" src="~/js/SettingsList.min.js" asp-append-version="true"></script>
    </environment>
}