@model DoEko.Models.DoEko.Addresses.Address

@{
    ViewData["Title"] = "Create";
}

<h2>Nowy</h2>

<form asp-action="Create" asp-controller="Addresses" asp-route-ReturnUrl="@ViewData["ReturnUrl"]">
    <div class="form-horizontal">
        <h4>Addres</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Street" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BuildingNo" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <input asp-for="BuildingNo" class="form-control" />
                <span asp-validation-for="BuildingNo" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ApartmentNo" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <input asp-for="ApartmentNo" class="form-control" />
                <span asp-validation-for="ApartmentNo" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PostalCode" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="City" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StateId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="StateId" class="form-control" asp-items="ViewBag.StateId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DistrictId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="DistrictId" class="form-control" asp-items="ViewBag.DistrictId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CommuneId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="CommuneId" class ="form-control" asp-items="ViewBag.CommuneId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CommuneType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CommuneType" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CountryId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="CountryId" class ="form-control" asp-items="ViewBag.CountryId" ></select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        if ($("#StateId").val() == '0') {
            var StateDefaultValue = "<option value='0'>Wybierz województwo</option>";
            $("#DistrictId").html(StateDefaultValue).show();
        }

        if ($("#DistrictId").val() == '0') {
            var CommuneDefaultValue = "<option value='0'>Wybierz powiat</option>";
            $("#CommuneId").html(CommuneDefaultValue).show();
        }


        $("#StateId").change(function () {
            var selectedItemValue = $(this).val();

            var ddlProducts = $("#DistrictId");
            $.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("GetDistrictsByStateId", "Addresses")',
                data: { "id": selectedItemValue },
                success: function (data) {
                    ddlProducts.html('');
                    $.each(data, function (id, option) {
                        ddlProducts.append($('<option></option>').val(option.id).html(option.name));
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Found error to load district!!.');
                }
            });
            var CommuneDefaultValue = "<option value='0'>Wybierz powiat</option>";
            $("#CommuneId").html(CommuneDefaultValue).show();
        });

        $("#DistrictId").change(function () {
            var selectedItemValue = $(this).val();
            var selectedStateId = $("#StateId").val();

            var ddlCommune = $("#CommuneId");
            $.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("GetCommunesByStateDistrictId", "Addresses")',
                data: { "stateid": selectedStateId,
                        "districtid": selectedItemValue },
                success: function (data) {
                    ddlCommune.html('');
                    $.each(data, function (id, option) {
                        ddlCommune.append($('<option></option>').val(option.id).html(option.name));
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Found error to load commune!!.');
                }
            });
        });

        $("#CommuneId").change(function () {
            var selectedItem = $(this).val();
            var communeType = $("#CommuneType");

            $.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("GetCommuneTypeByName", "Addresses")',
                data: { "name": selectedItem },
                success: function (data) {
                    communeType.val(data); }
            })
        });

    });
</script>

}