@model DoEko.Models.DoEko.Addresses.Address

@{
    ViewData["Title"] = "Create";
}

<h2>Nowy</h2>

<form asp-action="Create" asp-controller="Addresses" asp-route-ReturnUrl="@ViewData["ReturnUrl"]">
    <div class="form-horizontal">
        <h4>Adres</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Street" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BuildingNo" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <input asp-for="BuildingNo" class="form-control" />
                <span asp-validation-for="BuildingNo" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ApartmentNo" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <input asp-for="ApartmentNo" class="form-control" />
                <span asp-validation-for="ApartmentNo" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PostalCode" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="City" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StateId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="StateId" class="form-control" asp-items="ViewBag.StateId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DistrictId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="DistrictId" class="form-control" asp-items="ViewBag.DistrictId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CommuneId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="CommuneId" class ="form-control" asp-items="ViewBag.CommuneId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CommuneType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CommuneType" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CountryId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="CountryId" class ="form-control" asp-items="ViewBag.CountryId" ></select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Utwórz" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-default">Anuluj</a>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_AddressScriptPartial");}
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}