body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 240px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}

.wg-navbar-logo{
//    background-image: url("../images/doekogrupa_logo.png");
    background-repeat: no-repeat;
    background-size: 40px auto;
    background-position: left center;
    margin-left:  5px;
    padding-left: 45px;
}

.wg-link-nounderline:hover,
.wg-link-nounderline:focus,
.wg-link-nounderline:visited{
    text-decoration: none;
}
.wg-tile-blue{
    background-color: #2e8bcc;
}

.wg-tile-orange{
   background-color: #f39c12;
}
.wg-tile-grey{
    background-color: #7f8c8d;
}

.wg-tile-medium{
    color: white;
    min-height: 150px;
    max-height: 150px;
    min-width: 150px;
    max-width: 150px;
}
/*clickable table row*/
.wg-table-row-clickable{
    cursor: pointer;
}
/*Collapsible panels settings:*/
.wg-panel-heading{
    cursor: pointer;
    padding: 4px;
    padding-left: 15px; 
}

.wg-panel-title{
    margin: 0;
    padding: 0;
    padding-top: 6px;
    font-size: 16px;
    color: inherit;
}

/*class for elements placed inside div.panel-heading[data-toggle="collapse"]
    js on click event disables event propagation to parent div, 
    so button clicked on collapsible panel header doesn't toggle the panel
*/
wg-panel-header-button{

}


/*--Navigation Tabs as Form step wizard*/
.nav-tabs.nav-justified .active a, 
.nav-tabs.nav-justified .active a:hover,
.nav-tabs.nav-justified .active a:focus {
    border: unset;
    border-radius:unset;
    border-bottom: 5px solid grey;
}
.nav-tabs.nav-justified li a:hover,
.nav-tabs.nav-justified li a:focus{
    border: unset;
    border-radius:unset;
    border-bottom: 5px solid rgb(51,122,183);
    background-color: white;
}
.nav-tabs.nav-justified li a{
    border: unset;
    border-radius:unset;
    border-bottom: 5px solid white;
    font-size: medium;
    text-transform:uppercase;
}

.nav-tabs.nav-justified li a::after{
    /*float: right !important;*/
    /*font-family: 'Glyphicons Halflings';*/
    /*content: "\e258";*/
    /*height: 30px;
    width: 30px;
    content: "";
    background: url("../images/navbar_separator.svg") no-repeat center center;*/
}

.nav-tabs.nav-justified li:last-child a::after{
    /*float: right !important;*/
    /*font-family: 'Glyphicons Halflings';*/
    /*content: "";*/
}

.nav-tabs.nav-justified li{
    counter-increment: navigation-counter;
}

.nav-tabs.nav-justified li a::before{
    content: counter(navigation-counter) '. ';
}




/*.f1-steps { overflow: hidden; position: relative; margin-top: 20px; }
.f1-progress { position: absolute; top: 24px; left: 0; width: 100%; height: 1px; background: #ddd; }
.f1-progress-line { position: absolute; top: 0; left: 0; height: 1px; background: #f35b3f; }
.f1-step { position: relative; float: left; width: 33.333333%; padding: 0 5px; }
.f1-step-icon {
	display: inline-block; width: 40px; height: 40px; margin-top: 4px; background: #ddd;
	font-size: 16px; color: #fff; line-height: 40px;
	-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}

.wg-arrow-right {
  width: 0; 
  height: 0; 
  border-top:    35px solid transparent;
  border-bottom: 35px solid transparent;
  border-left:   15px solid #2e8bcc;
}*/



/*.steps {
  list-style-type: none;
  padding: 0;
}
.steps li {
  display: inline-block;
  margin-bottom: 3px;
}
.steps li a, .steps li p {
  background: #e5f4fd;
  padding: 8px 20px;
  color: #0077bf;
  display: block;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  text-indent: 12px;
}
.steps li a:hover, .steps li p:hover {
  text-decoration: none;
}
.steps li a:before, .steps li p:before {
  border-bottom: 18px solid transparent;
  border-left: 12px solid #fff;
  border-top: 18px solid transparent;
  content: "";
  height: 0;
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  margin-top: -18px;
}
.steps li a:after, .steps li p:after {
  border-bottom: 18px solid transparent;
  border-left: 12px solid #e5f4fd;
  border-top: 18px solid transparent;
  content: "";
  height: 0;
  position: absolute;
  left:100%;
  top: 50%;
  width: 0;
  margin-top: -18px;
  z-index: 1;
}

.steps li.active a, .steps li.active p {
  background: #0077bf;
  color: #fff;
}
.steps li.active a:after, .steps li.active p:after {
  border-left: 12px solid #0077bf;
}
.steps li.undone a, .steps li.undone p {
  background: #eee;
  color: #333;
}
.steps li.undone a:after, .steps li.undone p:after {
  border-left: 12px solid #eee;
}
.steps li.undone p {
  color: #aaa;
}*/